#about
    padding: 100px 0
    .textbox
        h1
            font-size: 40px
            font-weight: 700
            margin: 0 0 20px
            &:hover
                cursor: text
        h3
            color: #6c757d
            font-weight: 400
            font-style: italic
            margin: 0 0 50px
    .box
        display: flex
        align-items: center
        .textbox
            width: 400px
            h2
                font-size: 20px
                font-weight: 700
                margin: 0px 0 10px
            p
                color: #6c757d
                font-size: 14px
                font-weight: 500
                line-height: 1.5
                padding-bottom: 20px
    .imgbox
        margin: 0 40px
        width: 150px
        height: fit-content
        border: solid #e9ecef
        border-radius: 50%
        border-width: 5px        