body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .menu {
  position: absolute;
  width: 100%;
  right: 0%;
  padding: 0 120px;
  background-color: #212529;
  height: 80px;
}
header .menu .imgbox {
  width: 140px;
}
header .menu nav a {
  font-size: 0.995rem;
  font-weight: 300;
  margin-left: 30px;
  letter-spacing: 0.0625em;
  color: #ffffff;
  transition: 0.2s;
}
header .menu nav a:hover {
  cursor: pointer;
  color: #ffc800;
}

#welcome {
  padding: 50px 0;
  background-image: url(../assets/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
#welcome .box {
  height: 700px;
}
#welcome .box h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
}
#welcome .box h2 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  margin: 40px 0;
}
#welcome .box h2:hover {
  cursor: text;
}
#welcome .box .btn {
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 20px 40px;
  background-color: #ffc800;
  transition: 0.2s;
}
#welcome .box .btn:hover {
  background-color: #d9aa00;
}

#services {
  padding: 50px 0;
}
#services .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 20px;
}
#services .textbox h1:hover {
  cursor: text;
}
#services .textbox h3 {
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
  font-style: italic;
  margin: 0 0 50px;
}
#services .icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 64px;
  color: #ffffff;
  background-color: #ffc800;
}
#services .col-md-4 .textbox {
  margin: 0 10px;
}
#services .col-md-4 .textbox h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}
#services .col-md-4 .textbox h2:hover {
  cursor: text;
}
#services .col-md-4 .textbox p {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 20px 0;
}
#services .col-md-4 .textbox p:hover {
  cursor: text;
}

#portfolio {
  background-color: #f8f9fa;
  padding: 100px 0;
}
#portfolio .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 20px;
}
#portfolio .textbox h1:hover {
  cursor: text;
}
#portfolio .textbox h3 {
  color: #6c757d;
  font-weight: 400;
  font-style: italic;
  margin: 0 0 50px;
}
#portfolio .box {
  background-color: #ffffff;
  margin-bottom: 25px;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f6b507;
  opacity: 0%;
  transition: 0.5s;
  font-size: 50px;
  color: #ffffff;
  cursor: pointer;
}
#portfolio .box .icon i {
  cursor: pointer;
}
#portfolio .box .icon:hover {
  opacity: 90%;
}
#portfolio .box .textbox h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 10px;
}
#portfolio .box .textbox h4 {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-style: italic;
  padding-bottom: 20px;
}

#about {
  padding: 100px 0;
}
#about .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 20px;
}
#about .textbox h1:hover {
  cursor: text;
}
#about .textbox h3 {
  color: #6c757d;
  font-weight: 400;
  font-style: italic;
  margin: 0 0 50px;
}
#about .box {
  display: flex;
  align-items: center;
}
#about .box .textbox {
  width: 400px;
}
#about .box .textbox h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0 10px;
}
#about .box .textbox p {
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 20px;
}
#about .imgbox {
  margin: 0 40px;
  width: 150px;
  height: -moz-fit-content;
  height: fit-content;
  border: solid #e9ecef;
  border-radius: 50%;
  border-width: 5px;
}

#team {
  background-color: #f8f9fa;
  padding: 100px 0;
}
#team .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 20px;
}
#team .textbox h1:hover {
  cursor: text;
}
#team .textbox h3 {
  font-size: 14px;
  color: #6c757d;
  font-weight: 500;
  font-style: italic;
  margin: 0 0 50px;
}
#team .box .imgbox {
  width: 220px;
  border: solid #e9ecef;
  border-radius: 50%;
  border-width: 8px;
  margin-bottom: 20px;
}
#team .box .textbox h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px 0 10px;
}
#team .box .textbox h4 {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 20px;
}
#team .box .icon, #team .box .iconf {
  background-color: #212529;
  color: #fff;
  font-size: 14px;
  padding: 14px;
  border-radius: 50%;
  margin: 0px 10px;
  cursor: pointer;
  transition: 0.2s;
}
#team .box .icon i, #team .box .iconf i {
  cursor: pointer;
}
#team .box .icon:hover, #team .box .iconf:hover {
  opacity: 70%;
}
#team .box .iconf {
  padding: 14px 16px 14px 16px;
}
#team .last {
  padding: 0 150px;
}
#team .last p {
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin: 40px;
}

#socials {
  padding: 50px 0;
}
#socials .imgbox {
  padding: 0;
  margin: 0 70px;
  width: 180px;
}
#socials .imgbox img {
  cursor: pointer;
}
#socials .facebook {
  width: 150px;
}
#socials .google, #socials .ibm {
  width: 110px;
}

#contact {
  padding: 100px 0;
  background-color: #212529;
  background-image: url(../assets/map-image.png);
  background-repeat: no-repeat;
  background-position: top;
}
#contact .box .textbox h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 20px;
}
#contact .box .textbox h1:hover {
  cursor: text;
}
#contact .box .textbox h3 {
  color: #6c757d;
  font-size: 14px;
  color: #6c757d;
  font-weight: 500;
  font-style: italic;
  margin: 0 0 50px;
}
#contact .box .input input {
  width: 550px;
  height: 70px;
  margin: 20px 0;
  border-radius: 6px;
}
#contact .box .input input::-moz-placeholder {
  color: #ced4da;
  font-weight: 700;
}
#contact .box .input input::placeholder {
  color: #ced4da;
  font-weight: 700;
}
#contact .box .input .message {
  height: 250px;
}
#contact .box .btn {
  color: #ffffff;
  background-color: #fecc14;
  opacity: 60%;
  padding: 40px 50px;
}/*# sourceMappingURL=style.css.map */